<div class="background">
  <div class="container">
    <div class="row justify-content-center">
      <div class="card custom-card">
        <div class="custom-card-header">
          <h2 class="text-center">Sign Up</h2>
        </div>
        <div class="custom-card-body">
          <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
            <%= f.error_notification %>
            <div class="form-inputs custom-form-inputs">
              <%= f.input :email,
                required: true,
                autofocus: true,
                class: "custom-form-control form-control",
                input_html: { autocomplete: "email" }%>
              <%= f.input :password,
                required: true,
                hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length),
                class: "form-control custom-form-control",
                input_html: { autocomplete: "new-password" } %>
              <%= f.input :password_confirmation,
                required: true,
                class: "form-control custom-form-control",
                input_html: { autocomplete: "new-password" } %>
            </div>
            <div class="custom-card-action">
              <%= link_to "Sign In", new_session_path(resource_name) , class: "btn custom-btn-secondary" %>
              <%= f.button :submit, "Sign Up", class: "btn custom-btn-primary" %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
<%= render 'shared/footer' %>
