<h1>Find Your GymBuddy</h1>


<p><%= @profile.first_name %></p>
<p><%= @profile.last_name %></p>
<p><%= @profile.age %></p>

<%= button_to "Skip", profile_matches_path, method: :get, class: "btn btn-secondary" %>
<%= button_to "Match", profile_matches_path(profile_id: @profile.id), method: :post, class: "btn btn-primary" %>
